<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<div
  class="relative overflow-hidden rounded-lg bg-cover bg-no-repeat p-12 text-center flex flex-col min-h-screen"
  style="background-image: url('https://tecdn.b-cdn.net/img/new/slides/041.webp'); height: 400px">
  <div
    class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <h2 class="mb-4 text-4xl font-semibold">A Blog For Bloggers Blogging</h2>
        <%= button_to "Sign up", articles_path, 
          method: :get,
          class: "rounded border-2 border-neutral-50 px-7 pt-[10px] pb-[8px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10",
          data: { "te-ripple-init" => true, "te-ripple-color" => "light" } %>
      </div>
    </div>
  </div>
</div>
